<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://rockpaperscissorsmoves.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b0709c65-dffe-40b6-8db1-0ad037a73990/resourceGroups/TomsDevStuff/providers/Microsoft.Web/sites/rockpaperscissorsmoves</ResourceId>
    <UserName>$rockpaperscissorsmoves</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://rockpaperscissorsmoves.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>